<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sigf_v1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">NintendO64</property>
    <mapping resource="com/areatecnica/sigf_v1/entities/Bus.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/User.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/AbonoLiquidacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/FiniquitoRelacionLaboral.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DetalleCompraBoleto.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TrabajadorTerminal.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ParentescoCarga.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/InventarioInterno.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Guia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Position.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoMovimientoPersonal.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/InstitucionPrevision.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/SindicatoTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoDiaTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CargoBus.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/EstadoBus.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/HoraExtraTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoContrato.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/LiquidacionSueldo.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DiaFestivo.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Privilegio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/HorarioServicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ImpuestoSegundaCategoria.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoNomina.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/AsignacionFamiliar.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CompraBoleto.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Control.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Comuna.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/MonedaPactadaInstitucionSalud.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/RepresentanteLegal.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CuentaBancariaTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/LicenciaMedica.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/HorarioJornada.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/BusDevice.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DetalleVentaBoleto.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Egreso.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Empresa.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Despacho.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/HaberTrabajadorLiquidacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/FrecuenciaServicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ObservacionTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Banco.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Rol.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/AbonoBus.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/UnidadNegocio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CajaCompensacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/PeriodoFrecuencia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/IntervalosAdministracion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/VentaBoleto.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoCuentaBanco.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/BusServicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Usuario.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DescuentoTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ServicioProcesoRecaudacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/GrupoAsignacionTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CentroCostoTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/EgresoRecaudacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Traccar.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ModeloMarcaBus.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/SerieBoletoGuia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Device.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/AdministracionMensual.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/FormaPago.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/JornadaTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Tope.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ControlAsistencia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Flota.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ControlServicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Region.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/HaberTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CentroCosto.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DetalleIntervalosMensual.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CargaRetroactiva.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DescuentoLiquidacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/FeriadoLegal.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoCargo.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Trabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/EgresoGuia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Mutual.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/InventarioTerminal.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DescuentoTrabajadorLiquidacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Server.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ProcesoRecaudacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/RepresentanteEmpresa.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/JornadaLaboral.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ParametroCesantia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoAbono.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoDiaFrecuencia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/UserDevice.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/EstadoGuia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoControl.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Servicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Boleto.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CuentaBancariaEmpresa.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CalleServicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/VentaBoletoGuia.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CausalFiniquito.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/DiaTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/FormaPagoTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Terminal.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/HaberLiquidacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Departamento.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoDemanda.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ValorRolloUnidad.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/MontoSindicatoTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Calle.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/MarcaBus.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/GastosAdministracionMensual.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/Sindicato.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ValorFijo.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TarifaServicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/InstitucionApv.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/OperadorTransporte.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/AnticipoTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/InstitucionSalud.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/RelacionLaboral.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoCotizacionTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CargoLiquidacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ContratoUnidad.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoCarga.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ParametroInterpolacion.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/TipoEstacionalidad.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/CargasTrabajador.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/ControlHorarioServicio.hbm.xml"/>
    <mapping resource="com/areatecnica/sigf_v1/entities/LiquidacionEmpresa.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
